html,body{
	overflow-x:hidden;
}
@font-face{
	font-family: netflixFont;
	src: url('assets/nfxFont.ttf');
}
@font-face{
	font-family: yelpFont;
	src: url('assets/yelpFont2.ttf');
}
/*	font-family: 'Ubuntu Condensed', sans-serif;
	font-family: 'Cinzel', serif;
	font-family: 'Playfair Display SC', serif;
	font-family: 'Prociono', serif;
	font-family: 'Special Elite', cursive;
*/
/*https://www.yelp.com/styleguide*/

.main-body{
	height: 100vh;
}

.mainDisplay, .selectDisplay{
	height: 100%;
	/*border: 1px solid;*/
}

.yelpDisplay, .cocktailDisplay, .movieDisplay{
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	/*default display - block*/
}
.yelpDisplay{
	background-color: lightyellow;
	/*display:none;*/
}
.yelpBanner{
	height: 12%;
}
.yelpH1{
	margin-left: 20px;
	margin-right: 20px;
}
.yelpContent{
	height: 88%;
	/*border: 1px solid;*/
}
.yelpSearchArea{
	height: 35%;
	background-image: url('assets/yelpBackground.jpeg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	opacity: 0.85;
	/*border: 1px solid;*/
}
.yelpSearchArea>div{
	height:60%;
	margin-top:4%;
	/*border: 1px solid;*/
}
.yelpZipTitle{
	font-family: yelpFont;
	color: rgba(211,35,35,1);
	text-shadow: 
	1px 1px 0 #000,
	-1px -1px 0 #000,
	2px 2px 0 #000;
}
#yelpZip{
	font-family: 'Special Elite', cursive;
	font-size: 15px;
	background-color: rgba(255,255,255,0.15);
}
#yelpZip::-webkit-input-placeholder{
	color: white;
}
#yelpZip[type=text]{
	color: white;
}
#yelpSearchButton{
	margin-top: 3%;
	font-size: 2vh;
	font-family: yelpFont;
	color: rgba(211,35,35,1);
	text-shadow: 
	1px 1px 0 #000,
	-1px -1px 0 #000,
	2px 2px 0 #000;
}
.yelpResultDisplay{
	height: 65%;
}
.yelpResult1, .yelpResult2, .yelpResult3{
	height: 90%;
	margin-top: 2%;
	text-align: center;
}
.yelpResultPanel .panel-body{
	height: 235px;
	padding: 0;
}
.yelpImgWrapper{
	padding: 2%;
}
.yelpResultPanel img{
	/*margin: 0;*/
	height: auto;
}
@media screen and (min-width: 1350px){
	.yelpImgWrapper{
		height: 100%;
		width: auto;
	}
}
@media screen and (min-width: 1400px){
	.yelpResultPanel .panel-body{
		height: 270px;
	}
	.yelpImgWrapper{
		height: 100%;
		padding: 0;
	}
	.yelpResultPanel img{
		width: 100%;
		margin: 0;
	}
}
.yelpResultInfoList{
	list-style-type: none;
	padding: 0;
}
/*yelpDisplay end*/


.cocktailDisplay{
	background-image: url('http://ak7.picdn.net/shutterstock/videos/14543467/thumb/1.jpg');
	display: none;
	background-size: cover;
}
.cocktailBanner{
	height: 12%;
	border: 1px solid;
}
.cocktailBanner>.page-header{
	margin: 0;
	margin-top: 40px;
}
.cocktailRow{
	height: 88%;
	border: 1px solid;
}
.cocktailImgAndName, .cocktailNameIngButton{
	height: 100%;
	/*border: 1px solid;*/
}
.cocktailImgWrap{
	/*height: 40%;*/
	margin-top: 10%;
}
.cocktailNameIngButton>.row{
	height: 50%;
	border: 1px solid;
}


/*cocktailDisplay end*/


.movieDisplay{
	display: none;
	background: red;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to bottom, red, #0099F7);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to bottom, red, #0099F7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.qualityMovie, .movieDB{
	height: 47%;
	/*width: 100%;*/
	/*border: 1px solid;*/
}
.movieDisplayMessage{
	height: 6%;
	font-family: 'Ubuntu Condensed', sans-serif;
	font-size: 135%;
	/*color: white;*/
	/*border: 1px solid;*/
}
.netflixText{
	font-family: netflixFont;
	font-size: 3rem;
}
.netflixMovieTitleContent, .netflixMoviePoster{
	height: 100%;
	color: white;
	text-shadow: 
	1px 1px 0 #000,
	-1px -1px 0 #000,
	2px 2px 0 #000,
	3px 3px 0 #000;
	/*border: 1px solid green;*/
}
.netflixMovieTitle, .netflixMovieButton{
	/*height: 50%;*/
	/*border: 1px solid green;*/
}
.netflixMovieTitle{
	height: 75%;
}
.netflixTitleArea{
	height: 40%;
	/*border: 1px solid orange;*/
}
.netflixTitleArea>h1{
	margin-top: 5%;
	font-size: 4.5vh;
}
.netflixSummary{
	height: 60%;
	/*border: 1px solid orange;*/
}
.netflixMovieButton{
	height: 25%;
}
#netflixPlayButton, #netflixSpinButton{
	font-size: 3vh;
}

#netflixSpinButton:hover{
	font-size: 3vh;
	transform: rotateY(360deg);
}

.posterArea, .movieContentArea{
	height: 100%;
	/*border: 1px solid orange;*/
}
.movieDbTitle{
	height: 20%;
	font-size: 1.5rem;
	border: 1px solid;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	font-family: 'Playfair Display SC', serif;
	color: white;
	text-shadow: 
	1px 1px 0 #000,
	-1px -1px 0 #000,
	2px 2px 0 #000,
	3px 3px 0 #000;
}
.ratingTxt, .movieDbInput h5, .movieDbInput div{
	font-family: 'Prociono', serif;
	color: #cfd8dc;
}
.movieDbInput select, .movieDbInput input, .movieDbInput button{
	font-family: 'Playfair Display SC', serif;
	color: black;
	text-shadow:
	1px 1px 0 #fff;
}
.movieDbInput h5{
	margin-top:30px;
	margin-bottom: 0;
	height: 30%;
	font-size: 3vh;
	color: rgb(240,240,240);
	text-shadow: 
	1px 1px 0 #000,
	-1px -1px 0 #000;
}


.movieDbInput{
	height: 80%;
}
.movieDbInput > div{
	height: 50%;
	/*border: 1px solid red;*/
}
#movieDBbutton{
	font-size: 2vh;
}

/*movieDisplay end*/

.mainLogo{
	height: 15%;
	background-image: url("https://i.imgur.com/4aaoDJQ.gifv");
	background-repeat: no-repeat;
	background-position: center top;
	border: 1px solid green;
}
.yelpOpen, .cocktailOpen, .movieOpen{
	height: 27.5%;
	margin-top: 3px;
	border-radius: 20px;
	border : 5px solid black;
	box-sizing: border-box;
}
.yelpOpen{
	font-family: yelpFont;
	color: #d32323;
	background-color: #d32323;
	font-size: 9vh;
	text-shadow: 
	-2px -2px 0 #000,
	1px 1px 0 #000,
	-1px -1px 0 #000,
	2px 2px 0 #000,
	3px 3px 0 #000;
}
.cocktailOpen{
	background-color: #4285F4;
	font-family: 'Ubuntu Condensed', sans-serif;
	font-size: 5vh;
}
.movieOpen{
	font-family: netflixFont;
	font-size: 10vh;
	background-color: rgb(219,0,0);
}
.movieOpen>div, .movieOpen>div>img, .cocktailOpen>div, .yelpOpen>div{
	height: 100%;
}
/*#randomCocktailImgDisplay {
	border: 1px solid black;
	height: 250px;
	width: 250px;
}

.cocktailImage {
	height: 250px;
	width: 250px;
}

#randomCocktailIngredientsDisplay {
	display: inline-block;
}

#randomCocktailMeasuresDisplay {
	display: inline-block;
	float: right;
}*/

.ingredientsDiv {
	display: inline-block;
}

.measuresDiv {
	display: inline-block;
	position: absolute;
}


.netflixSummary {
	font-size: 3vh;
	text-align: center;
}





