html,body{
	overflow-x:hidden;
}

.navbar{
	margin-bottom: 0;
}
.hamburger{
	display: none !important;
}
/* !!!!!!! check menu display function in js !!!!!!!!*/
@media screen and (max-width: 767px){
	.hamburger{
		display: inline-block !important;
	}
	.navbar-nav{
		text-align: center;
	}
}

/*end of nav content css*/
.main-body{
	height: 94.7vh;
	/*background-color: lightblue;*/
}
.main-body>div{
	height: 100%;
	border: 1px solid;
}

#randomCocktailImgDisplay {
	border: 1px solid black;
	height: 250px;
	width: 250px;
}

.cocktailImage {
	height: 250px;
	width: 250px;
}

#randomCocktailIngredientsDisplay {
	display: inline-block;
}

#randomCocktailMeasuresDisplay {
	display: inline-block;
	float: right;
}